body {
    /* background-color: lightgrey; */
    margin: 1vh;
}

.wrapper {
    height: 98vh;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.canvas-panel {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.right-panel {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    background-color: skyblue;
}

#form {
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
    margin: 15px 30px;
    gap: .7rem;
}


#file-input {
    display: none;
}

label {
    text-align: center;
}

.upload-button {
    line-height: 30px;
    height: 30px;
    background-color: pink;
    border: none;
    border-radius: 0.25em;
    font-family: arial, sans-serif;
    font-size: 0.9em;
    padding: 7px;
}

.upload-button:hover {
    background-color: lightpink;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 0.9em;
}

.reset-button {
    display:none;
}

button {
    background-color: #666a86;
    border: none;
    border-radius: 0.25em;
    font-family: arial, sans-serif;
    font-size: 0.9em;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin-top: 1rem;
}

.button:hover {
    background-color: lightpink;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 0.9em;
}

.button:active {
    background-color: #6f698d;
}
